.config/awesome/lain
.config/qutebrowser
.config/.android
.config/Electron
.config/Equicord
.config/Google/AndroidStudio2024.3.2
.config/Mechvibes
.config/Windsurf
.config/YouTube Music
.config/BraveSoftware/Brave-Browser
.config/Unknown Organization
.config/autostart
.config/discord
.config/dmenu-extended
.config/cmus
.config/dconf
.config/fastfetch
.config/glib-2.0/settings
.config/go/telemetry/local
.config/kdeconnect
.config/lazygit
.config/menus/applications-merged
.config/micro
.config/microsoft-edge
.config/mpv
.config/mpv
.config/netsurf
.config/newm
.config/nwg-look
.config/pulse
.config/fish/secret.fish
